.container{
    width: 100%;
    height: 200px;
    background-color: bisque;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
h1{
    font-size: 70px;
}
p{
    font-size: 30px;
}