*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
    color: darkblue;
    text-shadow: 2px 2px 3px gray;
}
.parent{
    display: grid;
    margin: 30px;
    row-gap: 20px;
    column-gap: 20px;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.child{
    border-radius: 20px;
    padding: 25px;
}
.child1{
    color: white;
    line-height: 30px;
    font-size: 20px;
    background-color: rgb(131, 12, 131);
    grid-column: 1/3;
    grid-row: 1/2;
}
.child2{
    color: rgb(6, 6, 72);
    background-color: darkgray;
}
.child3{
    background-color: rgb(232, 169, 85);
    grid-column: 4/5;
    grid-row: 1/3;
}
.child4{
    color: white;
    background-color: rgb(31, 35, 75);
    grid-column: 2/4;
    grid-row: 2/3;
}
.child5{
    background-color: rgb(124, 170, 172);
}
@media screen and (max-width:1100px){
    .parent{
        grid-template-columns: 100%;
    }
    .child1{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .child2{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .child3{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .child4{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .child5{
        grid-row: 5/6;
        grid-column: 1/2;
    }
}
