*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

label, input{
    text-align: center;
    margin: auto;
    margin: 10px;
    font-size: 30px;
}
button{
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 100px;
    margin: auto;
    margin-top: 5rem;
    width: 700px;
    margin-bottom: 5rem;
}
p{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}