*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
img{
    width: 60px;
    height: 60px;
}   
nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 25px;
}